@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMjgyNzY4OC10b255bGl1OkFoMjczZDdhU2VIZkNjMmY3ZlhkQ1FEZXVBQ3RJZWhw
always-auth=true
